:root {
    --info-color: #124042
}

body {
    font-family      : 'MedievalSharp', cursive;
    background-image : url('../imgs/locations/winterbg.jpg');
    background-size  : cover;
    background-repeat: no-repeat;
}

#main-content {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
}

.h1 {
    font-size: 2.5rem;
}

.d-flex {
    display: flex;
}

.flex-col {
    margin-right: 50px;
    flex-direction: column;
}
.text-info {
   color: rgb(194, 22, 22);
}

.choose-class-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width     : 80%;
    background: rgba(17, 15, 15, 0.54);
    background: linear-gradient(0deg, rgba(17, 15, 15, 0.54) 0%, #137c7c 50%);
    background: -webkit-linear-gradient(0deg, rgba(17, 15, 15, 0.54) 0%, #137c7c 50%);
    background: -moz-linear-gradient(0deg, rgba(17, 15, 15, 0.54) 0%, #137c7c 50%);
    margin-top: 2rem;
    border-radius: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.choose-class-card-content {
    display: flex;
    padding: 30px;
}

#text-header {
    padding: 30px;
}

.enemy-image {
    width: 130px;
    height: auto;
    margin-left: 10px;
    margin-right: 5px;
}

h4{
    color: #04003a;
    font-size: 25px;
}