body {
    background-image: url(/imgs/bg.jpg);
    font-family: 'MedievalSharp', cursive;
}

#characterselection {
    background-color: rgba(192, 187, 46, 0.549);
}

#playerInterface,
#enemyInterface {
    background-color: rgba(192, 187, 46, 0.549);
}

.list-group-item {
    background-color: rgba(192, 187, 46, 0.167);

}

.btn-secondary {
    background-color: rgba(46, 192, 51, 0.612);
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: rgba(182, 33, 196, 0.701);
    ;
    text-decoration: none;
    cursor: pointer;
}


.dropdown {
    text-align: center;
}

.textRecordSec {
    background-color: rgba(46, 43, 9, 0.605);
}

#battleText {
    color: rgba(247, 245, 247, 0.893);
    width: 100%;
    height: 100%;
}