body {
    background-image: url(/imgs/bg.jpg);
    font-family: 'MedievalSharp', cursive;



}



#characterselection {
    background-color: rgba(219, 214, 62, 0.549);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);

}

#playerInterface,
#enemyInterface {
    background-color: rgba(192, 187, 46, 0.549);
}

.list-group-item {
    background-color: rgba(192, 187, 46, 0.167);

}

.btn-secondary {
    background-color: rgba(46, 192, 51, 0.612);
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: rgba(182, 33, 196, 0.701);
    ;
    text-decoration: none;
    cursor: pointer;
}


.dropdown {
    text-align: center;
}

.textRecordSec {
    background-color: rgba(46, 43, 9, 0.605);
}

#battleText {
    color: rgba(247, 245, 247, 0.893);

}

.tooltip-inner {
    white-space: pre-wrap;
    min-width: 100px;
}

.counter {
    animation: counter-change 3s infinite;
}

@keyframes counter-change {
    0% {
        color: rgb(0, 157, 255);
    }

    50% {
        color: white;
    }

    100% {
        color: rgb(0, 157, 255);
    }
}

.critical {
    animation: critical-change 3s infinite;
}

@keyframes critical-change {
    0% {
        color: rgb(252, 33, 33);
    }

    50% {
        color: white;
    }

    100% {
        color: rgb(252, 33, 33);
    }
}

.dodge {
    animation: dodge-change 3s infinite;
}

@keyframes dodge-change {
    0% {
        color: rgb(247, 247, 44);
    }

    50% {
        color: white;
    }

    100% {
        color: rgb(247, 247, 44);
    }
}

.heal {
    animation: heal-change 3s infinite;
}

@keyframes heal-change {
    0% {
        color: rgb(49, 253, 66);
    }

    50% {
        color: white;
    }

    100% {
        color: rgb(49, 253, 66);
    }
}