<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Character</title>
        <link rel="stylesheet" href="/assets/css/character-sheet.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <!--Medieval Font-->
        <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="/favico.ico" type="image/x-icon">
    </head>
   
    <body>
        <nav id="main-nav" class="sidebar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/views/select-character.html">Selecionar pj</a></li>
                <li><a href="#" class="delete-pj">Borrar pj</a></li>
                <li><a href="/views/character-sheet.html" class="delete-pj">Hoja de personaje</a></li>
            </ul>
        </nav>
        <div id="main-content-sheet">
   
            <div class="character-container">
                <div class="character-content-selected  flex-col-selected">
                    <div class="d-flex-selected">
                        <div class="avatar-selected">
                            <img src="/Images/avatars/battlemaster.png" alt="">
                        </div> 
                        
                        <div class="d-flex-selected flex-col-selected">
                            <h4 id="selectedCharacter-title"><b>Battlemaster</b></h4>
                            <p>HP: <small id="selectedCharacter-life"></small></p>
                            <p>STR:<small id="selectedCharacter-str"></small></p>
                            <p>DEX:<small id="selectedCharacter-dex"></small></p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>    
        <script type="module" src="/assets/js/character-sheet.js"></script>
    </body>
</html>