<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bestiario</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!--Medieval Font-->
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/favico.ico" type="image/x-icon">
</head>

<body>
    <div id="nav"></div>

    <div id="main-content">
        <p id="text-header" class="h1 text-info">Beasts</p>

        <div class="choose-class-card">
            <div class="choose-class-card-content">
                <div class="d-flex flex-col">
                    <h4><b>GHOUL</b></h4>
                    <p>LIFE:50</p>
                    <p>STR:12</p>
                    <p>DEX:3</p>
                </div>
                <img class="enemy-image" src="../imgs/enemy/Ghoul.png" alt="">
            <div>
                <p  class="h1 text-info">Description:</p>
                <p>The Ghouls are resiliant and strong but they have a great weakness... their movement. But remember overconfidences is an slow and insidius killer.</p>
            </div>
            </div>
        </div>

    </div>
    <div id="main-content">
        <div class="choose-class-card">
            <div class="choose-class-card-content">
                <div class="d-flex flex-col">
                    <h4><b>GNOLL</b></h4>
                    <p>LIFE:30</p>
                    <p>STR:9</p>
                    <p>DEX:12</p>
                </div>
                <img class="enemy-image" src="../imgs/enemy/Gnoll.png" alt="">
                <div>
                    <p class="h1 text-info">Description:</p>
                    <p>The Gnolls is a master of deception by neture but a coward as well.</p>
                </div>
            </div>
        </div>

    </div>
    <div id="main-content">
        <div class="choose-class-card">
            <div class="choose-class-card-content">
                <div class="d-flex flex-col">
                    <h4><b>GOBLIN</b></h4>
                    <p>LIFE:15</p>
                    <p>STR:5</p>
                    <p>DEX:9</p>
                </div>
                <img class="enemy-image" src="../imgs/enemy/Goblin.png" alt="">
                <div>
                    <p  class="h1 text-info">Description:</p>
                    <p>The Goblins are weak and smaller than a man, but they always found adventages by being understimated.</p>
                </div>
            </div>
        </div>

    </div>
    <div id="main-content">
        <div class="choose-class-card">
            <div class="choose-class-card-content">
                <div class="d-flex flex-col">
                    <h4><b>VIOLET FUNGUS</b></h4>
                    <p>LIFE:100</p>
                    <p>STR:0</p>
                    <p>DEX:0</p>
                </div>
                <img class="enemy-image" src="../imgs/enemy/Violet Fungus.png" alt="">
                <div>
                    <p  class="h1 text-info">Description:</p>
                    <p>The parasite is strong even if they are deprived of any strenght or dextry. Slow but safe... they consume.</p>
                </div>
            </div>
        </div>

    </div>
    <div id="main-content">
        <div class="choose-class-card">
            <div class="choose-class-card-content">
                <div class="d-flex flex-col">
                    <h4><b>WOLF</b></h4>
                    <p>LIFE:25</p>
                    <p>STR:12</p>
                    <p>DEX:12</p>
                </div>
                <img class="enemy-image" src="../imgs/enemy/Wolf.png" alt="">
                <div>
                    <p class="h1 text-info">Description:</p>
                    <p>This wild beast is always troblesome, thanks the Gods they are not very clever.</p>
                </div>
            </div>
        </div>

    </div>
</body>

</html>
<!-- color: var(--info-color) !important;-->