<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bestiario</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!--Medieval Font-->
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/favico.ico" type="image/x-icon">
</head>

<body>
    <div id="nav"></div>

    <div id="main-content">
        <p id="text-header" class="h1 text-info">Claws of winter</p>

        <div class="choose-class-card">
            <div class="choose-class-card-content">
                <div class="d-flex flex-col">
                    <h4><b>CHAOS WARRIORS</b></h4>
                    <p>LIFE:50</p>
                    <p>STR:15</p>
                    <p>DEX:12</p>
                </div>
                <img class="enemy-image" src="imgs/enemy/claws of winter/chaos.png" alt="">
            <div>
                <p  class="h1 text-info">Description:</p>
                <p>Chaos warrior are strong and fast, ferocious and fearless they strike with might. Only bred for battle and cruelty. Their blood boilds for a glorious death.</p>
            </div>
            </div>
        </div>

    </div>
    <div id="main-content">
        <div class="choose-class-card">
            <div class="choose-class-card-content">
                <div class="d-flex flex-col">
                    <h4><b>ICE CHAMPIONS</b></h4>
                    <p>LIFE:55</p>
                    <p>STR:19</p>
                    <p>DEX:15</p>
                </div>
                <img class="enemy-image" src="imgs/enemy/claws of winter/ice army.png" alt="">
                <div>
                    <p class="h1 text-info">Description:</p>
                    <p>Refinated and fasters, they are masters of combat, but do not be mistaken, more trained does not mean more civilizated. Like their more roockie brothers they only dream with a worthy battle.</p>
                </div>
            </div>
        </div>

    </div>
    <div id="main-content">
        <div class="choose-class-card">
            <div class="choose-class-card-content">
                <div class="d-flex flex-col">
                    <h4><b>ICE TROLL</b></h4>
                    <p>LIFE:50</p>
                    <p>STR:17</p>
                    <p>DEX:12</p>
                </div>
                <img class="enemy-image" src="imgs/enemy/claws of winter/ice troll.png" alt="">
                <div>
                    <p  class="h1 text-info">Description:</p>
                    <p>Ferocious and reckless, they fight like animals, eagers to feast in the flesh and blood of their preys. Humans are they favourite.</p>
                </div>
            </div>
        </div>

    </div>
    <div id="main-content">
       
    </div>
    <div id="main-content">
        <div class="choose-class-card">
            <div class="choose-class-card-content">
                <div class="d-flex flex-col">
                    <h4><b>ICE WOLF</b></h4>
                    <p>LIFE:50</p>
                    <p>STR:20</p>
                    <p>DEX:20</p>
                </div>
                <img class="enemy-image" src="imgs/enemy/claws of winter/wolf.png" alt="">
                <div>
                    <p class="h1 text-info">Description:</p>
                    <p>The ice wolf is a myth amoung warriors, even the ice champions respect this creature. If you see it... you might be consider yourself good as dead.</p>
                </div>
            </div>
        </div>

    </div>
</body>

</html>