:root {
    --primario: #61210F;
    --secundario: #ea2b1f;
    --terciario: #edae49;
    --cuarteario: #f9df74;
    --quinteario: #f9edcc;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.header {
    display: flex;
    justify-content: center;
    background-color: var(--cuarteario);

}

.header h1 {
    font-size: 3em;
    margin: 5px;
    padding: 5px;
    color: var(--primario);

}

.main-container {
    display: flex;
    flex-direction: column;
    background-color: var(--cuarteario);
    width: 100%;
    height: 100%;
}

.classpick-interface {
    display: flex;
    flex-direction: column;
    background: var(--primario);
    height: auto;
    width: auto;

}

.avatars {
    display: flex;
    height: 300px;
    width: 200px;
    padding: 10px;
    margin: 10px;
}

.class {
    display: flex;
    background: var(--terciario);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: var(--secundario) 20px;

}

.class p {
    padding: 5px 10px 5px 10px;
    margin: 20px 50px 40px 50px;
}

a {
    color: var(--primario);
}

.class2 h3 {
    font-size: 1.5em;
    margin: auto;
    padding: 5px;
    color: var(--primario);
    font-weight: 5000;


}

.class2 {
    display: flex;
    background: var(--terciario);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: wheat;
}

.class2 p {
    padding: 5px;
    margin: 10px;
    color: var(--primario)
}

.btn {
    box-shadow: 3px 4px 0px 0px #3b0d00;
    background: linear-gradient(to bottom, #591a09 5%, #c24b2b 100%);
    background-color: #591a09;
    border: 1px solid #611604;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    padding: 12px 44px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528ecc;
    width: 100%;
}

.btn:hover {
    background: linear-gradient(to bottom, #c24b2b 5%, #591a09 100%);
    background-color: #c24b2b;
}

.btn:active {
    position: relative;
    top: 1px;
}

.arena {
    display: flex;
    margin: auto;
    width: 100%;
    height: 40vh;


}

.avatarFight {
    margin: auto;
    width: 30vh;
    height: 30vh;
}

.enemy {
    display: flex;
    flex-direction: column;

}