:root {
    --primario: #61210F;
    --secundario: #ea2b1f;
    --terciario: #edae49;
    --cuarteario: #f9df74;
    --quinteario: #f9edcc;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    display: flex;
    justify-content: center;
    background-color: var(--cuarteario);

}

.header h1 {
    font-size: 3em;
    margin: 5px;
    padding: 5px;
    color: var(--primario);

}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cuarteario);
    width: 100%;
    height: 100%;
}

.classpick-interface {
    display: flex;
    flex-direction: column;
    background: var(--primario);
    height: auto;
    width: auto;

}

.avatars {
    display: flex;
    height: 300px;
    width: 200px;
    padding: 10px;
    margin: 10px;
}

.class {
    display: flex;
    background: var(--terciario);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: var(--secundario) 20px;

}

.class p {
    padding: 5px 10px 5px 10px;
    margin: 20px 50px 40px 50px;
}

a {
    color: var(--primario);
}